<?xml version="1.0" ?>
<img>
	<anim name="player" path="img/player1.png" nbrCollums="4" nbrLines="1" />
	<anim name="key" path="img/clavier.png" nbrCollums="1" nbrLines="3" />
	<anim name="items" path="img/items.png" nbrCollums="1" nbrLines="4" />
	<anim name="explosion" path="img/explosion.png" nbrCollums="6" nbrLines="3" />
	<anim name="interface" path="img/interface.png" nbrCollums="1" nbrLines="1" />
	<anim name="flashlight" path="img/flashlight.png" nbrCollums="1" nbrLines="1" />
	<anim name="fireball" path="img/fireball.png" nbrCollums="6" nbrLines="1" />
	<anim name="lifebar" path="img/lifebar.png" nbrCollums="1" nbrLines="7" />
	<anim name="main_menu" path="img/main_menu.png" nbrCollums="1" nbrLines="1" />
	<anim name="press" path="img/press.png" nbrCollums="1" nbrLines="1" />
	<anim name="pause" path="img/pause.png" nbrCollums="1" nbrLines="1" />
	<anim name="end" path="img/end.png" nbrCollums="1" nbrLines="2" />
	<anim name="mobs" path="img/mobs.png" nbrCollums="1" nbrLines="2" />
	<anim name="light" path="img/light.png" nbrCollums="1" nbrLines="1" />
</img>
<enemies>
	<mob name="killyou" type="1" path="0" x="0" y="0" width="18" height="7" />
</enemies>
<!--<items>
	<item name="blueflag" type="1" path="0" x="0" y="0" width="13" height="8" color="3"/>
</items>-->
<sound>
	<wav name="jump" path="sounds/jump.wav" />
	<wav name="dead" path="sounds/dead.wav" />
	<wav name="levelup" path="sounds/levelup.wav" />
	<wav name="walking" path="sounds/walking.wav" />
</sound>
<config>
	<option name="screenwidth" value="500" />
	<option name="screenheight" value="450" />

	<option name="platwidth" value="30" />
	<option name="platheight" value="30" />

	<option name="tilewidth" value="10" />
	<option name="tileheight" value="10" />

	<option name="playercollwidth" value="9" />
	<option name="playercollheight" value="21" />

	<option name="gravity" value="250" />
	<option name="jump" value="-100" />
	<option name="starthp" value="6" />
	<option name="level" value="1" />
</config>
